* {
  box-sizing: border-box;
}

html, body {
  font-family: var(--font-family-main);
  color: var(--color-white);
  font-size: 16px;
  background-color: #E9E7F7;
}

h1 {
  font-size: 28px;
  font-weight: 300;
  @media (min-width: 768px) {
    font-size: 36px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 300;
  @media (min-width: 768px) {
    font-size: 24px;
  }
}

h3 {
  font-size: 20px;
  font-weight: 600;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}

h1, h2, h3 {
  line-height: 1.2;
}

em {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.button {
  cursor: pointer;
  padding: 16px 24px;
  background-color: var(--color-dodger-blue);
  border: 1px solid var(--color-dodger-blue);
  color: var(--color-white);
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  transition: 0.3s all;
  min-height: 65px;
  min-width: 160px;

  &:hover {
    background-color: var(--color-astral-blue);
    border-color: var(--color-astral-blue);
  }

  &--secondary {
    background-color: var(--color-white);
    color: var(--color-dodger-blue);
    border: 1px solid transparent;
    &:hover {
      background-color: var(--color-dodger-blue);

      color: var(--color-white);
    }
  }
}
