:root {
  // Colors
  --color-white: #fff;
  --color-ultra-lightgrey: #D9DFE8;
  --color-lightgrey: #6c6c6c;
  --color-grey: #3f3f3f;
  --color-astral-blue: #3373b8;
  --color-astral-blue-dark: #235891;
  --color-dodger-blue: #4ea6ba;
  --color-purple: #4E5BBA;
  --color-lightblue: #f1f5fb;
  --color-black: #000;

  // Fonts
  --font-family-main: 'Montserrat', sans-serif;
  --font-family-variant: 'Roboto Mono', monospace;
}
