.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__body {
    display: flex;
    padding: 8px;
    @media (min-width: 1208px) {
      padding: 0;
    }

    .container {
      background: linear-gradient(33deg, #291e61, #4ea6ba);
      flex: 1;
      border-radius: 48px;
      box-shadow: 0 60px 27px -32px rgba(41, 30, 97, 0.42);
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;

  @media (min-width: 768px) {
    padding: 40px 48px;
  }
}

