.game {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 500px;
  margin: -16px;
  margin-top: 76px;
  position: relative;
  @media (min-width: 768px) {
    gap: 48px;
    margin: 76px 0 0 0;
  }

  &__score {
    position: absolute;
    left: 16px;
    top: -40px;
    font-size: 20px;
    @media (min-width: 768px) {
      left: 0;
    }
    p {
      margin-bottom: 8px;
    }
  }

  &__over {
    font-size: 36px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    span.special {
      color: var(--color-dodger-blue);
      font-weight: 600;
    }

    .game-lost, .game-won {
      padding: 16px;

      p {
        text-align: center;
      }

      .actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;

        @media (min-width: 768px) {
          flex-direction: row;
        }

        a.button {
          display: flex;
          align-items: center;
          text-decoration: none;

          svg {
            width: 30px;
            height: 30px;
            margin-right: 16px;
          }
        }

        span {
          text-align: center;
        }
      }
    }

    .game-lost {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 24px;
      gap: 32px;
    }

    .game-won {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;

      span {
        text-align: center;
      }

      &__image {
        width: 300px;
        height: 300px;
        border-radius: 48px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  &__word {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
  }

  &__keyboard {
    width: 100%;
  }

  &__picture {
    flex: 1;
    max-width: 300px;
    padding: 16px;

    svg {
      height: 100%;
      width: 100%;
      min-width: 200px;
    }
  }
}
