.word {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-variant);

  &__letters {
    display: flex;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
  }
}
