.hg-theme-default {
  text-transform: uppercase;
  background-color: transparent;

  .hg-red, .hg-green {
    cursor: not-allowed;
  }

  .hg-button {
    background-color: rgb(255, 255, 255, 0.15);
    color: var(--color-white);
    border-radius: 15px;
    border-bottom: none;
    box-shadow: none;

    &:hover {
      background-color: rgb(255, 255, 255, 0.25);
    }
  }

  .hg-red {
    color: #c50000a8;
    background-color: rgba(214, 136, 136, 0.62);

    &:hover {
      background-color: rgba(214, 136, 136, 0.62);
    }
 
  }

  .hg-green {
    color: #0c7d0c87;
    background-color: #98d6889e;

    &:hover {
      background-color: #98d6889e;
    }

  }

}
